@model IEnumerable<string>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
        <div class="categories-block text-center">
            <div class="categorie-block__title">Products by categories:</div>
            @foreach (string category in Model)
            {
                <a class=""
                   asp-action="List"
                   asp-controller="Product"
                   asp-route-category="@category">
                    @category
                </a>
             }
        </div>
</body>
</html>
